body{
/* The image used */
/*background-image: url('mainImage.jpg'); */
background-image: url('/assets/thisImage.jpg');

 background-size :cover;

 background-position: center center; 
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed; 
 width: auto;
}


.form-background{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
}
 
.title{

    text-align: center;                         /* align the position with text */
    font-size: 40px;                            /* size */
    color: rgb(20, 13, 13);
     margin-top: 50px;                           /* margin from the nav bar */
    font-family: 'Syne Mono', monospace;
}


footer{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    font-family: 'Train One', cursive;
    color:whitesmoke;
} 


p{
    color: black;
}
