<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink ='/login'>Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav> 
</div>
<div class="title">Recover Password</div>
<form id="login-form" class="form-background" method ="GET" action = "/login" >   
    <p class="lead">{{emailSentMessage}}</p> 
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email Address" aria-describedby="basic-addon1"
            [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div>
        <button class="btn btn-danger" (click)="forgetPasswordButton()">submit</button>
    </div>
</form>