<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink ='/login'>Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav> 
</div>
<div >
    <div class="title">Recover Password</div>
    <form id="login-form" class="form-background" method ="POST" action = "/login" >  
        <p class="lead">{{notMatchingMessage}}</p>  
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="New Password" aria-describedby="basic-addon1"
                [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" aria-describedby="basic-addon1"
                [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
        </div>

        <div>
            <button class="btn btn-danger"  (click)="resetPasswordButton()">submit</button>
        </div>
    </form>
</div>